.bg-audiencia {
    background: url(../images/bg-audiencia.png) no-repeat;
    background-size: cover;
    background-position: center top;
    position: relative;
    margin-top: -140px;
    padding-bottom: 280px;

    .txt-01 {
        font-family: 'Champions';
        font-weight: 800;
        font-style: normal;
        color: #5af7dc;
        font-size: 51px;
        line-height: 55px;
        text-transform: uppercase;
        padding-left: 10px;
        margin-top: 350px;
    }

    .txt-02 {
        font-family: 'Champions';
        font-weight: normal;
        font-style: normal;
        color: #fff;
        font-size: 37px;
        line-height: 37px;
        text-transform: uppercase;
        padding-left: 10px;
    }

    .parisxleipzig {
        margin-top: 40px;
    }

    .picosdeaudiencia {
        margin-top: 20px;

        p {
            font-family: 'Champions';
            font-weight: bold;
            font-style: normal;
            color: #fff;
            font-size: 30px;
            line-height: 30px;
            text-transform: uppercase;

            span {
                font-weight: 800;
                font-style: normal;
                font-size: 45px;
                line-height: 45px;
                color: #5af7dc;
            }
        }
    }

    .ei {
        display: table;
        margin-top: 350px;

        .lg-ei {
            padding-bottom: 15px;
            display: block;
        }

        p {
            font-family: 'Champions';
            font-weight: 800;
            font-style: normal;
            color: #5af7dc;
            font-size: 35px;
            line-height: 45px;
            text-transform: uppercase;
        }
    }
}

/* Extra Small */
@media(max-width:767px) {
    .bg-audiencia {
        background: url(../images/bg-audiencia-mobile.png) no-repeat;
        background-size: cover;
        background-position: center top;
        position: relative;
        margin-top: 0px;
        padding-bottom: 20px;

        .txt-01 {
            font-size: 40px;
            line-height: 40px;
            padding-left: 0px;
            margin-top: 20px;
            text-align: center;
        }

        .txt-02 {
            font-size: 20px;
            line-height: 20px;
            padding-left: 0px;
            text-align: center;
        }

        .parisxleipzig {
            margin-top: 10px;
            display: block;
            margin-right: auto;
            margin-left: auto;
        }

        .ei {
            display: table;
            margin-top: 50px;
            margin-bottom: 50px;

            p {
                font-size: 20px;
                line-height: 25px;
            }
        }
    }
}

/* Small */
@media(min-width:768px) and (max-width:991px) {}

/* Medium */
@media(min-width:992px) and (max-width:1199px) {}

/* Large */
@media(min-width:1200px) {}