.bg-contato {
    background: url(../images/bg-contato.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    position: relative;
    padding-bottom: 40px;

    .txt-01 {
        font-family: 'Champions';
        font-weight: 800;
        font-style: normal;
        color: #5af7dc;
        font-size: 33px;
        line-height: 33px;
        text-transform: uppercase;
        margin-top: 100px;
    }

    .txt-03 {
        margin-top: 20px;

        a {
            font-family: 'Champions';
            font-weight: bold;
            font-style: normal;
            color: #fff;
            font-size: 35px;
            line-height: 35px;
        }
    }

    .txt-02 {
        font-family: 'Champions';
        font-weight: 800;
        font-style: normal;
        color: #fff;
        font-size: 60px;
        line-height: 60px;
        text-transform: uppercase;
        margin-top: 20px;
    }

    .logos {
        margin-top: 40px;
    }

    .mail-to {
        margin-top: 40px;
        margin-bottom: 15px;

        a {
            font-family: 'Champions';
            font-weight: bold;
            font-style: normal;
            color: #fff;
            font-size: 24px;
            line-height: 24px;
        }
    }

    .box-form {
        background-color: #051139;
        position: relative;
        padding: 40px 60px;

        label {
            font-family: 'Champions';
            font-weight: 300;
            font-style: normal;
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 14px;
            color: #fff;
        }

        .form-control {
            font-family: 'Champions';
            font-weight: normal;
            font-style: normal;
            height: 47px;
            padding: 6px 12px;
            font-size: 16px;
            color: #051139;
            background-color: #fff;
            border: 0px solid transparent;
            border-radius: 0px;
            opacity: 0.5;
        }

        textarea {
            height: 155px !important;
        }

        .btn_enviar {
            font-family: 'Champions';
            font-weight: 800;
            font-style: normal;
            font-size: 19px;
            line-height: 19px;
            color: #fff;
            border: 0px solid transparent;
            border-radius: 50px;
            padding: 12px 60px;
            margin-top: 30px;
            -webkit-box-shadow: 0px 0px 20px 0px rgba(102, 76, 249, 1);
            -moz-box-shadow: 0px 0px 20px 0px rgba(102, 76, 249, 1);
            box-shadow: 0px 0px 20px 0px rgba(102, 76, 249, 1);
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#664cf9+0,ff16ff+100 */
            background: #664cf9;
            /* Old browsers */
            background: -moz-linear-gradient(left, #664cf9 0%, #ff16ff 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #664cf9 0%, #ff16ff 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #664cf9 0%, #ff16ff 100%);
        }
    }
}

.cookies {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    height: 100%;
    top: 0;
    display: none;

    .box {
        background-color: #051139;
        padding-top: 20px;
        padding-bottom: 20px;
        position: absolute;
        bottom: 20px;

        p {
            font-family: 'Champions';
            font-weight: 300;
            font-style: normal;
            color: #fff;
            font-size: 12px;
            line-height: 14px;
            margin-top: 7px;
        }

        .btn_cookie {
            font-family: 'Champions';
            font-weight: 800;
            font-style: normal;
            font-size: 16px;
            line-height: 16px;
            color: #fff;
            border: 0px solid transparent;
            border-radius: 50px;
            padding: 12px 30px;
            width: 160px;
            -webkit-box-shadow: 0px 0px 20px 0px rgba(102, 76, 249, 1);
            -moz-box-shadow: 0px 0px 20px 0px rgba(102, 76, 249, 1);
            box-shadow: 0px 0px 20px 0px rgba(102, 76, 249, 1);
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#664cf9+0,ff16ff+100 */
            background: #664cf9;
            /* Old browsers */
            background: -moz-linear-gradient(left, #664cf9 0%, #ff16ff 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #664cf9 0%, #ff16ff 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #664cf9 0%, #ff16ff 100%);
        }
    }
}

.redes {
    margin-top: 20px;
    margin-bottom: 20px;

    p {
        font-family: 'Champions';
        font-weight: 800;
        font-style: normal;
        color: #fff;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 15px;
    }

    div {
        display: table;
        margin: 0 auto;

        figure {
            display: inline-block;
            margin-left: 10px;
            margin-right: 10px;

            a {
                display: block;
            }

            figcaption {
                font-family: 'Champions';
                font-weight: 300;
                font-style: normal;
                color: #fff;
            }
        }
    }
}

footer {
    padding-bottom: 20px;
    padding-top: 20px;

    p {
        font-family: 'Champions';
        font-weight: 300;
        font-style: normal;
        color: #fff;
        font-size: 12px;
        line-height: 14px;
    }

    .navbar-nav {
        padding-bottom: 14px;

        li {
            padding-top: 7px;
            padding-bottom: 7px;
        }

        li>a {
            padding-top: 0px;
            padding-bottom: 0px;
            font-family: 'Champions';
            font-weight: 800;
            font-style: normal;
            color: #fff;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 14px;
            border-right: 1px solid white;
        }

        li>a:focus,
        li>a:hover {
            text-decoration: underline;
            background-color: transparent;
        }

        li:last-child a {
            border-right: 0px solid transparent;
        }
    }
}


/* Extra Small */

@media(max-width:767px) {
    .bg-contato {
        background: url(../images/bg-contato-mobile.jpg) no-repeat;
        background-size: cover;
        background-position: center top;
        position: relative;
        padding-bottom: 40px;

        .txt-01 {
            font-size: 25px;
            line-height: 25px;
            margin-top: 30px;
        }

        .txt-03 {
            margin-top: 20px;

            a {
                font-size: 25px;
                line-height: 25px;
            }
        }

        .txt-02 {
            font-size: 45px;
            line-height: 45px;
            margin-top: 20px;
        }

        .logos {
            margin-top: 20px;
        }

        .mail-to {
            margin-top: 30px;
        }

        .box-form {
            padding: 30px 20px;
        }
    }

    .cookies {
        .box {
            padding-top: 10px;

            .btn_cookie {
                margin-top: 20px;
            }
        }
    }

    footer {
        .navbar-nav {
            li>a {
                border-right: 0px solid transparent;
            }
        }
    }
}


/* Small */

@media(min-width:768px) and (max-width:991px) {}


/* Medium */

@media(min-width:992px) and (max-width:1199px) {}


/* Large */

@media(min-width:1200px) {}