.margin-top {
  margin-top: 10px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-27 {
  margin-top: 27px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-54 {
  margin-top: 54px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-65 {
  margin-top: 65px;
}

.margin-top-70 {
  margin-top: 70px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-90 {
  margin-top: 90px;
}

.margin-top-99 {
  margin-top: 99px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-top-110 {
  margin-top: 110px;
}

.margin-top-120 {
  margin-top: 120px;
}

.margin-top-140 {
  margin-top: 140px;
}

.margin-top-149 {
  margin-top: 149px;
}

.margin-top-150 {
  margin-top: 150px;
}

.margin-top-160 {
  margin-top: 160px;
}

.margin-top-200 {
  margin-top: 200px;
}

.margin-top-220 {
  margin-top: 220px;
}

.margin-top-230 {
  margin-top: 230px;
}

.margin-top-250 {
  margin-top: 250px;
}

.margin-top-330 {
  margin-top: 330px;
}

.margin-top-350 {
  margin-top: 350px;
}

.margin-top-380 {
  margin-top: 380px;
}

.margin-top-385 {
  margin-top: 385px;
}

.margin-top-390 {
  margin-top: 390px;
}

.margin-top-400 {
  margin-top: 400px;
}

body {
  background-color: #06113a;
}

.padding-off {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

p {
  margin: 0;
}

.container-off-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.row-off-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.aviso {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
}

.aviso div {
  display: table;
  margin: 10% auto 0;
  width: 40%;
  background-color: #051139;
  padding: 20px 10px;
  position: relative;
}

.aviso div .close {
  text-shadow: none;
  opacity: 1;
  position: absolute;
  right: 0;
  top: -30px;
  z-index: 999;
  color: #fff;
  font-size: 35px;
  line-height: 35px;
}

.aviso div p {
  font-family: 'Champions';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1.667;
  color: #fff;
}

.modalTimer {
  background-color: rgba(0, 0, 0, 0.5);
}

.modalTimer .modal-dialog {
  margin: 15% auto;
}

.modalTimer .modal-content {
  background: url(../images/bg-timer.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 0px solid transparent;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 5px 0px;
}

.modalTimer .modal-content .close {
  position: absolute;
  top: -17px;
  right: -10px;
  z-index: 100;
  opacity: 1;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  color: #f93108;
  text-shadow: none;
  background: #fff;
  border-radius: 15px;
  padding: 4px 7px;
}

.modalTimer .modal-content .coruja-timer {
  position: absolute;
  top: -75px;
  left: -125px;
}

.modalTimer .modal-content .boxTimer {
  display: table;
  margin-left: 140px;
}

.modalTimer .modal-content .boxTimer .txt {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: normal;
  color: #f93108;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
}

.modalTimer .modal-content .boxTimer .timer {
  display: table;
  margin-top: 8px;
  margin-bottom: 8px;
}

.modalTimer .modal-content .boxTimer .timer .box {
  display: table-cell;
  text-align: center;
  text-decoration: none;
}

.modalTimer .modal-content .boxTimer .timer .box .numero {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: normal;
  background-color: #0024ff;
  color: #fff;
  border-radius: 15px;
  font-size: 35px;
  line-height: 35px;
  padding: 10px 10px;
  min-width: 68px;
  display: block;
}

.modalTimer .modal-content .boxTimer .timer .box .dt {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  color: #0024ff;
  font-size: 30px;
  line-height: 30px;
  display: table-caption;
  width: 15px;
}

.modalTimer .modal-content .boxTimer .timer .box p {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  color: #0024ff;
  font-size: 8px;
  line-height: 8px;
  margin-top: 5px;
}

/* Extra Small */
@media (max-width: 767px) {
  .padding-off-mobile {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .aviso div {
    margin: 30% auto 0;
    width: 95%;
  }
  .modalTimer .modal-dialog {
    margin: 35% auto !important;
  }
  .modalTimer .modal-content {
    background: url(../images/bg-timer-mobile.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10px 0px;
  }
  .modalTimer .modal-content .close {
    top: -30px;
    right: 0;
  }
  .modalTimer .modal-content .coruja-timer {
    display: none;
  }
  .modalTimer .modal-content .boxTimer {
    display: table;
    margin: 0 auto;
  }
}

@font-face {
  font-family: 'Champions';
  src: url("../fonts/Champions.eot");
  src: url("../fonts/Champions.eot?#iefix") format("embedded-opentype"), url("../fonts/Champions.woff2") format("woff2"), url("../fonts/Champions.woff") format("woff"), url("../fonts/Champions.ttf") format("truetype"), url("../fonts/Champions.svg#Champions") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Champions';
  src: url("../fonts/Champions-ExtraBold.eot");
  src: url("../fonts/Champions-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Champions-ExtraBold.woff2") format("woff2"), url("../fonts/Champions-ExtraBold.woff") format("woff"), url("../fonts/Champions-ExtraBold.ttf") format("truetype"), url("../fonts/Champions-ExtraBold.svg#Champions-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Champions';
  src: url("../fonts/Champions-Bold.eot");
  src: url("../fonts/Champions-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Champions-Bold.woff2") format("woff2"), url("../fonts/Champions-Bold.woff") format("woff"), url("../fonts/Champions-Bold.ttf") format("truetype"), url("../fonts/Champions-Bold.svg#Champions-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Champions';
  src: url("../fonts/Champions-Light.eot");
  src: url("../fonts/Champions-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Champions-Light.woff2") format("woff2"), url("../fonts/Champions-Light.woff") format("woff"), url("../fonts/Champions-Light.ttf") format("truetype"), url("../fonts/Champions-Light.svg#Champions-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.ttf") format("truetype"), url("../fonts/Montserrat-Black.svg#Montserrat-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.ttf") format("truetype"), url("../fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-ExtraLight.eot");
  src: url("../fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("../fonts/Montserrat-ExtraLight.svg#Montserrat-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Light.eot");
  src: url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat-Light.svg#Montserrat-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype"), url("../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat-Medium.svg#Montserrat-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Thin.eot");
  src: url("../fonts/Montserrat-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Thin.woff2") format("woff2"), url("../fonts/Montserrat-Thin.woff") format("woff"), url("../fonts/Montserrat-Thin.ttf") format("truetype"), url("../fonts/Montserrat-Thin.svg#Montserrat-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

.home {
  background: url(../images/bg-home.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #06113a;
  padding-bottom: 50px;
}

.home .logos {
  margin-top: 25px;
}

.home p {
  font-family: 'Champions';
  font-weight: 800;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
}

.home .video {
  margin-top: 50px;
}

.home .txt-01 {
  font-size: 50px;
  line-height: 50px;
  margin-top: 40px;
  color: #5af7dc;
}

.home .txt-02 {
  font-size: 62px;
  line-height: 62px;
  margin-top: 30px;
}

.home .txt-02 span {
  font-size: 50px;
}

.home .txt-03 {
  font-size: 50px;
  line-height: 50px;
  margin-top: 60px;
  color: #5af7dc;
}

.home .txt-04 {
  font-size: 40px;
  line-height: 40px;
  margin-top: 40px;
}

/* Extra Small */
@media (max-width: 767px) {
  .home {
    background: url(../images/bg-home-mobile.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 20px;
  }
  .home .txt-01 {
    font-size: 30px;
    line-height: 30px;
    margin-top: 20px;
    color: #5af7dc;
  }
  .home .txt-02 {
    font-size: 40px;
    line-height: 40px;
    margin-top: 20px;
  }
  .home .txt-02 span {
    font-size: 25px;
  }
  .home .txt-03 {
    font-size: 25px;
    line-height: 25px;
    margin-top: 40px;
  }
  .home .txt-04 {
    font-size: 16px;
    line-height: 16px;
    margin-top: 20px;
  }
}

/* Small */
/* Medium */
/* Large */
.recordes {
  margin-top: 80px;
}

.recordes .txt-01 {
  font-family: 'Champions';
  font-weight: 800;
  font-style: normal;
  color: #5af7dc;
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
}

.recordes .txt-01 span {
  font-size: 30px;
  line-height: 30px;
  color: #fff;
  display: block;
  margin-top: 10px;
}

.bg-recordes {
  width: 100%;
  position: relative;
  background: url(../images/bg-recordes.jpg) no-repeat;
  background-size: cover;
  background-position: left top;
  background-color: #06113a;
  padding-bottom: 150px;
}

.bg-recordes .datas {
  z-index: 100;
  position: relative;
}

.bg-recordes .txt-02 {
  font-family: 'Champions';
  font-weight: 800;
  font-style: normal;
  color: #5af7dc;
  font-size: 43px;
  line-height: 52px;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 160px;
}

.bg-recordes .txt-02 span {
  color: #fff;
}

.bg-recordes small {
  font-family: 'Champions';
  font-weight: 300;
  font-style: normal;
  color: #fff;
  font-size: 10px;
  line-height: 10px;
  display: block;
  opacity: 0.5;
}

/* Extra Small */
@media (max-width: 767px) {
  .recordes {
    margin-top: 20px;
  }
  .recordes .txt-01 {
    font-size: 23px;
    line-height: 23px;
  }
  .recordes .txt-01 span {
    font-size: 20px;
    line-height: 20px;
    margin-top: 10px;
  }
  .bg-recordes {
    background: #06113a;
    padding-bottom: 20px;
  }
  .bg-recordes .txt-02 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 5px;
    margin-top: 0px;
  }
  .bg-recordes small {
    font-size: 10px;
    line-height: 10px;
  }
}

/* Small */
/* Medium */
/* Large */
.bg-audiencia {
  background: url(../images/bg-audiencia.png) no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative;
  margin-top: -140px;
  padding-bottom: 280px;
}

.bg-audiencia .txt-01 {
  font-family: 'Champions';
  font-weight: 800;
  font-style: normal;
  color: #5af7dc;
  font-size: 51px;
  line-height: 55px;
  text-transform: uppercase;
  padding-left: 10px;
  margin-top: 350px;
}

.bg-audiencia .txt-02 {
  font-family: 'Champions';
  font-weight: normal;
  font-style: normal;
  color: #fff;
  font-size: 37px;
  line-height: 37px;
  text-transform: uppercase;
  padding-left: 10px;
}

.bg-audiencia .parisxleipzig {
  margin-top: 40px;
}

.bg-audiencia .picosdeaudiencia {
  margin-top: 20px;
}

.bg-audiencia .picosdeaudiencia p {
  font-family: 'Champions';
  font-weight: bold;
  font-style: normal;
  color: #fff;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.bg-audiencia .picosdeaudiencia p span {
  font-weight: 800;
  font-style: normal;
  font-size: 45px;
  line-height: 45px;
  color: #5af7dc;
}

.bg-audiencia .ei {
  display: table;
  margin-top: 350px;
}

.bg-audiencia .ei .lg-ei {
  padding-bottom: 15px;
  display: block;
}

.bg-audiencia .ei p {
  font-family: 'Champions';
  font-weight: 800;
  font-style: normal;
  color: #5af7dc;
  font-size: 35px;
  line-height: 45px;
  text-transform: uppercase;
}

/* Extra Small */
@media (max-width: 767px) {
  .bg-audiencia {
    background: url(../images/bg-audiencia-mobile.png) no-repeat;
    background-size: cover;
    background-position: center top;
    position: relative;
    margin-top: 0px;
    padding-bottom: 20px;
  }
  .bg-audiencia .txt-01 {
    font-size: 40px;
    line-height: 40px;
    padding-left: 0px;
    margin-top: 20px;
    text-align: center;
  }
  .bg-audiencia .txt-02 {
    font-size: 20px;
    line-height: 20px;
    padding-left: 0px;
    text-align: center;
  }
  .bg-audiencia .parisxleipzig {
    margin-top: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .bg-audiencia .ei {
    display: table;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .bg-audiencia .ei p {
    font-size: 20px;
    line-height: 25px;
  }
}

/* Small */
/* Medium */
/* Large */
.bg-tnt {
  background: url(../images/bg-tnt.jpg) no-repeat;
  background-size: cover;
  background-position: left center;
  position: relative;
  padding-bottom: 140px;
}

.bg-tnt .txt-01 {
  font-family: 'Champions';
  font-weight: 800;
  font-style: normal;
  color: #5af7dc;
  font-size: 28px;
  line-height: 29px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 40px;
}

.bg-tnt .txt-02 {
  font-family: 'Champions';
  font-weight: 800;
  font-style: normal;
  color: #5af7dc;
  font-size: 27px;
  line-height: 27px;
  text-transform: uppercase;
  margin-top: 10px;
}

.bg-tnt .txt-03 {
  font-family: 'Champions';
  font-weight: 800;
  font-style: normal;
  color: #fff;
  font-size: 27px;
  line-height: 27px;
  text-transform: uppercase;
  margin-top: 10px;
}

.bg-tnt .dt {
  margin-top: 40px;
}

.bg-tnt .logo-tnt {
  margin-top: 100px;
}

/* Extra Small */
@media (max-width: 767px) {
  .bg-tnt {
    background: url(../images/bg-tnt-mobile.jpg) no-repeat;
    background-size: cover;
    background-position: left top;
    position: relative;
    padding-bottom: 20px;
  }
  .bg-tnt .txt-01 {
    font-size: 20px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .bg-tnt .txt-02 {
    font-size: 25px;
    line-height: 25px;
    text-align: center;
  }
  .bg-tnt .txt-02 span {
    font-size: 9px;
    line-height: 9px;
  }
  .bg-tnt .txt-03 {
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    margin-top: 25px;
  }
  .bg-tnt .logo-tnt {
    margin-top: 30px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 30%;
  }
}

/* Small */
/* Medium */
/* Large */
.bg-ei {
  background: url(../images/bg-ei.jpg) no-repeat;
  background-size: cover;
  background-position: right top;
  position: relative;
  padding-bottom: 170px;
}

.bg-ei .txt-01 {
  font-family: 'Champions';
  font-weight: 800;
  font-style: normal;
  color: #fff;
  font-size: 37px;
  line-height: 40px;
  text-transform: uppercase;
  margin-top: 100px;
}

.bg-ei .face {
  display: table;
  margin-top: 40px;
}

.bg-ei .face .lg-face {
  padding-bottom: 15px;
  display: block;
}

.bg-ei .face p {
  font-family: 'Champions';
  font-weight: 800;
  font-style: normal;
  color: #5af7dc;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.bg-ei .ei {
  display: table;
  margin-top: 70px;
}

.bg-ei .ei .lg-ei {
  padding-bottom: 15px;
  display: block;
}

.bg-ei .ei p {
  font-family: 'Champions';
  font-weight: 800;
  font-style: normal;
  color: #5af7dc;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
}

.bg-ei .txt-02 {
  font-family: 'Champions';
  font-weight: 800;
  font-style: normal;
  color: #5af7dc;
  font-size: 54px;
  line-height: 54px;
  text-transform: uppercase;
  margin-top: 5px;
}

.bg-ei .txt-03 {
  font-family: 'Champions';
  font-weight: 300;
  font-style: normal;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  margin-top: 54px;
}

.bg-ei .logo-ei {
  margin-top: 100px;
}

/* Extra Small */
@media (max-width: 767px) {
  .bg-ei {
    background: url(../images/bg-ei-mobile.jpg) no-repeat;
    background-size: cover;
    background-position: right top;
    position: relative;
    padding-bottom: 20px;
  }
  .bg-ei .txt-01 {
    font-size: 25px;
    line-height: 25px;
    margin-top: 20px;
    text-align: center;
  }
  .bg-ei .txt-02 {
    font-size: 45px;
    line-height: 45px;
    margin-top: 5px;
    text-align: center;
  }
  .bg-ei .txt-03 {
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    margin-top: 30px;
  }
  .bg-ei .logo-ei {
    margin-top: 30px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 30%;
  }
}

/* Small */
/* Medium */
/* Large */
.bg-contato {
  background: url(../images/bg-contato.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative;
  padding-bottom: 40px;
}

.bg-contato .txt-01 {
  font-family: 'Champions';
  font-weight: 800;
  font-style: normal;
  color: #5af7dc;
  font-size: 38px;
  line-height: 43px;
  text-transform: uppercase;
  margin-top: 50px;
}

.bg-contato .txt-05 {
  font-family: 'Champions';
  font-weight: bold;
  font-style: normal;
  color: #fff;
  font-size: 25px;
  line-height: 35px;
  margin-top: 20px;
}

.bg-contato .txt-03 {
  margin-top: 20px;
}

.bg-contato .txt-03 a {
  font-family: 'Champions';
  font-weight: bold;
  font-style: normal;
  color: #fff;
  font-size: 35px;
  line-height: 35px;
}

.bg-contato .txt-02 {
  font-family: 'Champions';
  font-weight: 800;
  font-style: normal;
  color: #fff;
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
  margin-top: 20px;
}

.bg-contato .logos {
  margin-top: 40px;
}

.bg-contato .mail-to {
  margin-top: 40px;
  margin-bottom: 15px;
}

.bg-contato .mail-to a {
  font-family: 'Champions';
  font-weight: bold;
  font-style: normal;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
}

.bg-contato .box-form {
  background-color: #051139;
  position: relative;
  padding: 40px 60px;
}

.bg-contato .box-form label {
  font-family: 'Champions';
  font-weight: 300;
  font-style: normal;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
}

.bg-contato .box-form .form-control {
  font-family: 'Champions';
  font-weight: normal;
  font-style: normal;
  height: 47px;
  padding: 6px 12px;
  font-size: 16px;
  color: #051139;
  background-color: #fff;
  border: 0px solid transparent;
  border-radius: 0px;
  opacity: 0.5;
}

.bg-contato .box-form textarea {
  height: 155px !important;
}

.bg-contato .box-form .btn_enviar {
  font-family: 'Champions';
  font-weight: 800;
  font-style: normal;
  font-size: 19px;
  line-height: 19px;
  color: #fff;
  border: 0px solid transparent;
  border-radius: 50px;
  padding: 12px 60px;
  margin-top: 30px;
  -webkit-box-shadow: 0px 0px 20px 0px #664cf9;
  box-shadow: 0px 0px 20px 0px #664cf9;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#664cf9+0,ff16ff+100 */
  background: #664cf9;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#664cf9), to(#ff16ff));
  background: linear-gradient(to right, #664cf9 0%, #ff16ff 100%);
}

.cookies {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  height: 100%;
  top: 0;
  display: none;
}

.cookies .box {
  background-color: #051139;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 20px;
}

.cookies .box p {
  font-family: 'Champions';
  font-weight: 300;
  font-style: normal;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  margin-top: 7px;
}

.cookies .box .btn_cookie {
  font-family: 'Champions';
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  border: 0px solid transparent;
  border-radius: 50px;
  padding: 12px 30px;
  width: 160px;
  -webkit-box-shadow: 0px 0px 20px 0px #664cf9;
  box-shadow: 0px 0px 20px 0px #664cf9;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#664cf9+0,ff16ff+100 */
  background: #664cf9;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#664cf9), to(#ff16ff));
  background: linear-gradient(to right, #664cf9 0%, #ff16ff 100%);
}

.redes {
  margin-top: 20px;
  margin-bottom: 20px;
}

.redes p {
  font-family: 'Champions';
  font-weight: 800;
  font-style: normal;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 15px;
}

.redes div {
  display: table;
  margin: 0 auto;
}

.redes div figure {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.redes div figure a {
  display: block;
}

.redes div figure figcaption {
  font-family: 'Champions';
  font-weight: 300;
  font-style: normal;
  color: #fff;
}

footer {
  padding-bottom: 20px;
  padding-top: 20px;
}

footer p {
  font-family: 'Champions';
  font-weight: 300;
  font-style: normal;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
}

footer .navbar-nav {
  padding-bottom: 14px;
}

footer .navbar-nav li {
  padding-top: 7px;
  padding-bottom: 7px;
}

footer .navbar-nav li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Champions';
  font-weight: 800;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  border-right: 1px solid white;
}

footer .navbar-nav li > a:focus,
footer .navbar-nav li > a:hover {
  text-decoration: underline;
  background-color: transparent;
}

footer .navbar-nav li:last-child a {
  border-right: 0px solid transparent;
}

/* Extra Small */
@media (max-width: 767px) {
  .bg-contato {
    background: url(../images/bg-contato-mobile.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    position: relative;
    padding-bottom: 40px;
  }
  .bg-contato .txt-01 {
    font-size: 25px;
    line-height: 25px;
    margin-top: 30px;
  }
  .bg-contato .txt-03 {
    margin-top: 20px;
  }
  .bg-contato .txt-03 a {
    font-size: 25px;
    line-height: 25px;
  }
  .bg-contato .txt-02 {
    font-size: 45px;
    line-height: 45px;
    margin-top: 20px;
  }
  .bg-contato .logos {
    margin-top: 20px;
  }
  .bg-contato .mail-to {
    margin-top: 30px;
  }
  .bg-contato .box-form {
    padding: 30px 20px;
  }
  .cookies .box {
    padding-top: 10px;
  }
  .cookies .box .btn_cookie {
    margin-top: 20px;
  }
  footer .navbar-nav li > a {
    border-right: 0px solid transparent;
  }
}

/* Small */
/* Medium */
/* Large */
.politica {
  background-color: #fff;
  padding-bottom: 50px;
}

.politica .politica-tt {
  background-color: #06113a;
  padding-top: 20px;
  padding-bottom: 20px;
}

.politica .politica-tt h3 {
  font-family: 'Champions';
  font-weight: 800;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0;
}

.politica .politica-info {
  margin-top: 30px;
}

.politica .politica-info p {
  font-family: 'Champions';
  font-weight: 300;
  font-style: normal;
  color: #000;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 15px;
}

.politica .politica-info p a {
  color: #EC2c27;
  text-decoration: underline;
}

/* Extra Small */
/* Small */
/* Medium */
/* Large */
.modal {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal .close {
  text-shadow: none;
  opacity: 1;
  position: absolute;
  right: 10px;
  top: -25px;
  z-index: 999;
  color: #fff;
  font-size: 35px;
  line-height: 35px;
}

.modal .modal-content {
  background-color: transparent;
  border: 0px solid transparent;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* Extra Small */
@media (max-width: 767px) {
  .modal .modal-dialog {
    margin: 15% auto 0;
  }
}

/* Small */
/* Medium */
/*# sourceMappingURL=style.css.map */