.margin-top {
  margin-top: 10px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-27 {
  margin-top: 27px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-54 {
  margin-top: 54px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-65 {
  margin-top: 65px;
}

.margin-top-70 {
  margin-top: 70px;
}

.margin-top-80 {
  margin-top: 80px;
}

.margin-top-90 {
  margin-top: 90px;
}

.margin-top-99 {
  margin-top: 99px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-top-110 {
  margin-top: 110px;
}

.margin-top-120 {
  margin-top: 120px;
}

.margin-top-140 {
  margin-top: 140px;
}

.margin-top-149 {
  margin-top: 149px;
}

.margin-top-150 {
  margin-top: 150px;
}

.margin-top-160 {
  margin-top: 160px;
}

.margin-top-200 {
  margin-top: 200px;
}

.margin-top-220 {
  margin-top: 220px;
}

.margin-top-230 {
  margin-top: 230px;
}

.margin-top-250 {
  margin-top: 250px;
}

.margin-top-330 {
  margin-top: 330px;
}

.margin-top-350 {
  margin-top: 350px;
}

.margin-top-380 {
  margin-top: 380px;
}

.margin-top-385 {
  margin-top: 385px;
}

.margin-top-390 {
  margin-top: 390px;
}

.margin-top-400 {
  margin-top: 400px;
}

body {
  background-color: #06113a;
}

.padding-off {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

p {
  margin: 0;
}

.container-off-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.row-off-margin {
  margin-left: 0px;
  margin-right: 0px;
}

@font-face {
  font-family: 'Champions';
  src: url("../fonts/Champions.eot");
  src: url("../fonts/Champions.eot?#iefix") format("embedded-opentype"), url("../fonts/Champions.woff2") format("woff2"), url("../fonts/Champions.woff") format("woff"), url("../fonts/Champions.ttf") format("truetype"), url("../fonts/Champions.svg#Champions") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Champions';
  src: url("../fonts/Champions-ExtraBold.eot");
  src: url("../fonts/Champions-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Champions-ExtraBold.woff2") format("woff2"), url("../fonts/Champions-ExtraBold.woff") format("woff"), url("../fonts/Champions-ExtraBold.ttf") format("truetype"), url("../fonts/Champions-ExtraBold.svg#Champions-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Champions';
  src: url("../fonts/Champions-Bold.eot");
  src: url("../fonts/Champions-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Champions-Bold.woff2") format("woff2"), url("../fonts/Champions-Bold.woff") format("woff"), url("../fonts/Champions-Bold.ttf") format("truetype"), url("../fonts/Champions-Bold.svg#Champions-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Champions';
  src: url("../fonts/Champions-Light.eot");
  src: url("../fonts/Champions-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Champions-Light.woff2") format("woff2"), url("../fonts/Champions-Light.woff") format("woff"), url("../fonts/Champions-Light.ttf") format("truetype"), url("../fonts/Champions-Light.svg#Champions-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.home {
  background: url(../images/bg-home.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #06113a;
  padding-bottom: 50px;
}

.home .logos {
  margin-top: 25px;
}

.home p {
  font-family: 'Champions';
  font-weight: 800;
  font-style: normal;
  color: #fff;
  text-transform: uppercase;
}

.home .txt-01 {
  font-size: 50px;
  line-height: 50px;
  margin-top: 40px;
}

.home .txt-01 span {
  font-size: 62px;
}

.home .txt-02 {
  font-size: 42px;
  line-height: 42px;
  margin-top: 50px;
  color: #5af7dc;
}

.home .txt-03 {
  font-size: 50px;
  line-height: 50px;
  margin-top: 380px;
  color: #5af7dc;
}

.home .txt-04 {
  font-size: 40px;
  line-height: 40px;
  margin-top: 60px;
}

/* Extra Small */
@media (max-width: 767px) {
  .home {
    background: url(../images/bg-home-mobile.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 20px;
  }
  .home .txt-01 {
    font-size: 30px;
    line-height: 30px;
    margin-top: 20px;
  }
  .home .txt-01 span {
    font-size: 42px;
  }
  .home .txt-02 {
    font-size: 30px;
    line-height: 30px;
    margin-top: 30px;
  }
  .home .txt-03 {
    font-size: 25px;
    line-height: 25px;
    margin-top: 230px;
  }
  .home .txt-04 {
    font-size: 16px;
    line-height: 16px;
    margin-top: 20px;
  }
}

/* Small */
/* Medium */
/* Large */
.recordes {
  margin-top: 80px;
}

.recordes .txt-01 {
  font-family: 'Champions';
  font-weight: 800;
  font-style: normal;
  color: #5af7dc;
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
}

.bg-recordes {
  width: 100%;
  position: relative;
  background: url(../images/bg-recordes.jpg) no-repeat;
  background-size: cover;
  background-position: center top;
  background-color: #06113a;
  padding-bottom: 150px;
}

.bg-recordes .txt-02 {
  font-family: 'Champions';
  font-weight: 800;
  font-style: normal;
  color: #5af7dc;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 100px;
}

.bg-recordes .txt-02 span {
  color: #fff;
}

.bg-recordes small {
  font-family: 'Champions';
  font-weight: 300;
  font-style: normal;
  color: #fff;
  font-size: 10px;
  line-height: 10px;
  display: block;
  opacity: 0.5;
}

/* Extra Small */
@media (max-width: 767px) {
  .recordes {
    margin-top: 20px;
  }
  .recordes .txt-01 {
    font-size: 23px;
    line-height: 23px;
  }
  .bg-recordes {
    background: #06113a;
    padding-bottom: 20px;
  }
  .bg-recordes .txt-02 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 5px;
    margin-top: 0px;
  }
  .bg-recordes small {
    font-size: 10px;
    line-height: 10px;
  }
}

/* Small */
/* Medium */
/* Large */
/*# sourceMappingURL=style.css.map */